/* Import font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto&display=swap');

/* Remove all padding and margin unless state */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body/general rules */
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: white;
    color: black;
    align-items: center;
}

/* Main Question area */
.main-area {
    width: 80%;
    padding: 20%;
    margin-top: 20px;
    background-color: bisque;
    margin-right: auto;
    margin-left: auto;
}


/* Fixed footer */
footer {
    bottom: 0;
    position: absolute;
    align-items: center;
    text-align: center;
    background-color: grey;
    width: 100%;
    height: 100%;
    display: none;
}

.end {
    align-items: right;
}

/* Hide Controls from inception (before practice button is chosen) */
.main-controls,
.controls {
    display: none;
}

/* Hide main Area from start */
#main-area {
    display: none;
}

/* Hide Answers*/
#answer {
    display: none;
}